.advertising.sidebar {
    margin-top: 3em;
    align-items: left;
}
.advertising.main {
    
}
.ads {
    width: 60%;
}
.advertising.main .ads {
    display: flex;
}
.advertising.sidebar .ad {
    width: 100%;
    margin-bottom: 2em;
}
.ad img {
    width: 100%;
}