.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background: linear-gradient(180deg, rgb(216, 6, 6), rgb(0, 0, 0));
    padding: 1.5em;
}
.social-label {
    font-size: 2rem;
    margin-right: 1em;
    font-weight: bold;
    color: white;

}

.social-item {
    margin-right: 1em;
    transition: all 0.25s;
}
.social-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.social-item img {
    width: 100%;
    height: 4em;
}

@media all and (max-width: 1024px) {
    .social-label {
        font-size: 1.25rem;
    }

    .social-item img {
        height: 2em;
    }
}