/* Icuc */

@keyframes circle {
    0%   {opacity: 1; width: 0.6em; height: 0.6em;}
    100% {opacity: 0; width: 2.4em; height: 2.4em;}
  }

.icuc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.icucText {
    font-size: 11rem;
    margin-right: 2em;
}

.pulseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulseCircle {
    font-size: 0.8rem;
    position:absolute;
    background: white;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: circle;
}