/* ========== NavigationDesk ============= */


.navigationDesk-container {
    display: flex;
    justify-content: space-between;
}

.navigationDesk-container.positioned {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.navigationDesk {
    display: block;
    width: 62%;
}

.navDesk-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navDesk-item {
    flex: 1 1 30%;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
    border-right: 1px solid black;
}

.navDesk-item:first-child {
    border-left: 1px solid black;
}

.navDesk-label {
    font-weight: bold;
    font-size: 1.5rem;

    transition: color 0.25s;
}

.navDesk-label:hover {
    cursor: pointer;
    color: rgb(32, 148, 249);
 }

 .navDesk-item.active .navDesk-label {
    color: rgb(32, 148, 249);
 }


@media all and (max-width: 1024px) {
    
    .navigationDesk {
        width: 100%;
    }

 /*    .navDesk-list {
        flex-wrap: wrap;
    } */
    .navDesk-label {
        font-size: 1.25rem;
    }
    
}
